@import "styles/colors";

.image {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        max-width: 150px;
        max-height: 176px;
    }

    .inactive {
        img {
            filter: grayscale(1);
        }
    }

    i {
        font-size: 64px;
        color: #c0c0c0;
    }
}

.product-name {
    height: 48px;
    margin-top: 6px;
    h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: map-get($colors, dark);
        margin-bottom: 0;
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
}

.product-gtin {
    margin-top: 8px;
    h4 {
        font-size: 14px;
        font-weight: 700;
        color: map-get($colors, dark);
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
        color: map-get($colors, dark);
    }
}
