<pim-header title="{{ 'PRODUCTS' | translate }}" [goBackUrl]="['']">
    <div>
        <button type="button" class="btn btn-import" (click)="redirectToConnect()">{{ 'IMPORT' | translate }} {{'PRODUCT' | translate}}</button>
        <button type="button" (click)="downloadFile()" class="btn btn-primary">{{ "DOWNLOAD_SAMPLE_FILE" | translate }}</button>
    </div>
</pim-header>
<section class="pim-container" *ngIf="{isLoading: (isLoading$ | async), hasMoreItems: (hasMoreItems$ | async)} as data">
    <div class="container">
        <div class="pim-card-header">
            <div class="d-flex justify-content-start">
                <div class="mr-2">
                    <h2 class="title">{{"PRODUCT_LIST" | translate}}</h2>
                </div>
                <i class="bi bi-info-circle-fill icon-info" tooltip="{{ 'HERE_YOU_WILL_FIND_ALL_YOUR_PRODUCTS' | translate }}" placement="right"></i>
            </div>
            <div class="d-flex justify-content-end">
                <app-fieldrow class="mr-2">
                    <ng-select [items]="options" [clearable]="false" [searchable]="false" bindLabel="description" bindValue="type" [(ngModel)]="selectedOption" (change)="selectItems()"></ng-select>
                </app-fieldrow>
                <cmp-search-input (search)="searchItems($event)" [resetForm]="resetForm"></cmp-search-input>
            </div>
        </div>
        <ng-container *ngIf="products$ | async as products">
            <div class="row container-products" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" [scrollWindow]="true" (scrolled)="onScroll(data.hasMoreItems)">
                <div class="col-md-3 col-sm-4" *ngFor="let product of products">
                    <div class="card">
                        <app-dropdown class="text-right">
                            <ul class="list-icons">
                                <li>
                                    <a href="javascript://" (click)="detailProduct(product)"><i class="bi bi-eye"></i> {{ "VIEW" | translate}}</a>
                                </li>
                                <li>
                                    <a href="javascript://" (click)="detailProduct(product)"><i class="bi bi-image"></i> {{"ADD_IMAGE" | translate}}</a>
                                </li>
                                <li>
                                    <a href="javascript://" (click)="indexProduct(product)"><i class="bi bi-sort-alpha-down"></i> {{"INDEX_ON_FTS" | translate}}</a>
                                </li>
                                <li>
                                    <a href="javascript://" (click)="changeStatusProduct(product)"
                                        ><i class="bi bi-toggle-off"></i>
                                        <span *ngIf="!product.active"> {{ "ACTIVE_PRODUCT_MARK_DOWN" | translate }} </span>
                                        <span *ngIf="product.active"> {{ "DISABLE_PRODUCT" | translate }} </span>
                                    </a>
                                </li>
                            </ul>
                        </app-dropdown>
                        <div (click)="detailProduct(product)" class="cursor-pointer">
                            <pim-image-descricao-card [item]="product"></pim-image-descricao-card>
                            <div class="mt-3" *ngIf="product.gtin">
                                <span class="badge badge-secondary">{{"GTIN" | translate}}: {{ product.gtin }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="products.length === 0 && !data.isLoading" class="col-12 no-items">
                    <i class="bi bi-search"></i>
                    <h3>{{ "RESULT_NOT_FOUND" | translate }}</h3>
                    <p>{{ "TRY_DOING_A_NEW_SEARCH_OR_REGISTER_A_NEW_PRODUCT_FAMILY" | translate }}</p>
                </div>
            </div>
        </ng-container>
        <div class="row mt-2 mb-3">
            <div class="col-12 container-spinner" *ngIf="data.isLoading">
                <span>
                    <app-spinner [size]="'md'"></app-spinner>
                </span>
            </div>
        </div>
    </div>
</section>
