<div class="modal-header">
    <h4 class="modal-title">{{ 'EDIT' | translate }} {{"DESCRIPTIONS" | translate}}</h4>
    <button type="button" class="modal-close" (click)="bsModalRef.hide()">
        <i class="bi bi-x"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="payload">
        <div class="pim-card">
            <div class="pim-card-header">
                <h2 class="title">{{"DESCRIPTIONS" | translate}}</h2>
            </div>
            <div class="pim-card-content">
                <div class="row">
                    <div class="col-4">
                        <app-fieldrow label="{{'MAIN_DESCRIPTION' | translate}}" [abstractControl]="mainDescription">
                            <input type="text" class="cmp-fieldrow-control" formControlName="mainDescription" />
                        </app-fieldrow>
                    </div>
                    <div class="col-4">
                        <app-fieldrow label="{{'SECONDARY_DESCRIPTION' | translate}}" [abstractControl]="secondaryDescription">
                            <input type="text" class="cmp-fieldrow-control" formControlName="secondaryDescription" />
                        </app-fieldrow>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="bsModalRef.hide()" class="btn btn-light">{{'CANCEL' | translate}}</button>
    <button type="button" (click)="submit()" class="btn btn-primary">{{'FINISH' | translate}}</button>
</div>
<app-modal-processing *ngIf="processing"></app-modal-processing>
