<div class="wrapper">
    <div class="abs-center wd-xl">
        <!-- START panel-->
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">:(</div>
            <p class="lead m0">{{ "ACCESS_DENIED" | translate }}</p>
            <p>{{ "YOU_DO_NOT_HAVE_ACCESS_TO_THIS_PAGE" | translate }}.</p>
        </div>
        <div class="input-group mb-xl">
            <img class="img-responsive" src="assets/images/logo-pricefy-by-selbetti.png" alt="Pricefy by Selbetti" />
        </div>
        <ul class="list-inline text-center text-sm mb-xl">
            <li class="text-muted">|</li>
            <li><a class="text-muted" *ngIf="!auth.Authenticated" [routerLink]="['/Security/Login']">Login</a></li>
            <li><a class="text-muted" *ngIf="auth.Authenticated" [routerLink]="'/'">Promo</a></li>
            <li class="text-muted">|</li>
        </ul>
        <div class="p-lg text-center">
            <span>&copy; </span>
            <span>{{ settings.app.year }}</span>
            <span> - </span>
            <span>{{ settings.app.name }}</span>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>
