@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=C25522C9-C648-42FD-8F03-841E4E5203E5

@pricefyteam:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
