@import "styles/colors";

.pim-container {
    .container {
        text-align: center;
        padding: 85px 0;

        .bi-basket {
            font-size: 48px;
            color: map-get($colors, secondary);
        }

        .title {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: map-get($colors, secondary);
            margin: 16px 0;
        }

        .subtitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;

            span {
                font-size: 14px;
                color: map-get($colors, dark);
                display: block;
            }
        }

        .btn-primary {
            margin-top: 16px;
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .pim-container {
        padding: 0 10px;

        .container {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
