@import "styles/colors";

.pim-search-container {
    margin-top: 16px;
    .container {
        position: relative;
        .search-background {
            height: 270px;
            border-radius: 4px;
            background-image: linear-gradient(0deg, rgba(0, 130, 183, 0.8), rgba(0, 130, 183, 0.8)),
                url("../../../../../assets/images/banco-imagens-bg.jpg");
            position: relative;
            background-size: cover;
            border: solid 1px map-get($colors, primary);
        }

        .search-background::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            backdrop-filter: blur(5px);
            border: solid 1px map-get($colors, primary);
        }

        .search-info-container {
            width: 550px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;

            h1 {
                font-size: 36px;
                margin-bottom: 25px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin-top: 25px;
                margin-bottom: 0;

                span {
                    font-weight: 700;
                }
            }
        }

        .container-spinner {
            padding: 50px 0;
        }
    }
}

.pim-container {
    .container {
        padding: 0 15px;
        .pim-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 16px 0;
        }

        .container-radio-box {
            padding: 18px 0;
            div {
                display: inline;
                margin-right: 15px;

                input[type="radio"] {
                    display: none;
                }

                label {
                    cursor: pointer;
                    color: #8f8f8f;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 700;
                }

                :checked + label {
                    color: map-get($colors, dark);

                    &::after {
                        content: " ";
                        height: 4px;
                        background: map-get($colors, primary);
                        display: block;
                    }
                }
            }
        }

        .card {
            border: 1px solid #c0c0c0;
            border-radius: 5px;
            cursor: pointer;
            height: 344px;

            &.cursor-default {
                cursor: default;
            }

            .img-logo-provider {
                height: 43px;
                padding: 0 7px;
                img {
                    width: 80px;
                }
            }

            .card-body {
                padding: 8px 16px 16px;

                .container-info-item {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;

                    .product-gtin {
                        margin-top: 8px;
                        h4 {
                            font-size: 14px;
                            font-weight: 700;
                            color: map-get($colors, dark);
                            margin-bottom: 0;
                        }

                        p {
                            margin-bottom: 0;
                            color: map-get($colors, dark);
                        }
                    }

                    .badge-secondary {
                        border: solid 1px map-get($colors, secondary);
                        border-radius: 5px;
                        color: map-get($colors, secondary);
                        background-color: #ffffff !important;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }

        .container-no-items {
            text-align: center;
            padding: 50px 0;

            i {
                font-size: 48px;
                color: map-get($colors, secondary);
            }

            h3 {
                color: map-get($colors, secondary);
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                margin: 15px 10px 0;
            }

            p {
                color: map-get($colors, dark);
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
}

:host ::ng-deep {
    cmp-search-input {
        .input-group {
            width: 100% !important;

            .form-control {
                padding: 8px 40px 8px 8px !important;
                border: none !important;
            }
        }
    }
}

@media only screen and (min-width: 1800px) {
    .container-products {
        .col-md-3 {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .search-info-container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 575px) {
    .pim-container {
        padding: 0 10px;

        .container {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}
