<ng-container *ngIf="product$ | async as product">
    <app-super-card [options]="superCardProdutosOptions">
        <div id="principal">
            <section class="pim-container">
                <div class="container">
                    <div class="pim-card-content">
                        <div class="content-header">
                            <div class="row mt-4">
                                <div class="col-3">
                                    <div class="image">
                                        <div *ngIf="hasImage" [ngClass]="{'inactive': isInactive}">
                                            <img [src]="product.urlThumbnailMain | normalizeImage" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <app-label-info title="{{ 'PRODUCT_CODE' | translate }}" text="{{product.code}}"> </app-label-info>
                                    <app-label-info title="{{ 'ORIGINAL_DESCRIPTION' | translate }}" text="{{product.mainDescription}}"> </app-label-info>
                                    <app-label-info title="{{ 'PRODUCT_BRAND' | translate }}" text="{{product.brand}}"> </app-label-info>
                                </div>
                                <div class="col-5">
                                    <app-label-info title="{{ 'MAIN_GTIN' | translate }}" text="{{product.gtin}}"> </app-label-info>

                                    <app-label-info title="{{ 'PRODUCT_MANUFACTURER' | translate }}" text="{{product.manufacturer}}"> </app-label-info>

                                    <app-label-info title="{{ 'MARKETING_STRUCTURE' | translate }}" text="{{marketingStructure}}"> </app-label-info>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pim-container">
                <div class="container">
                    <div class="pim-card-header d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <div class="mr-2">
                                <h2 class="title">{{ "DESCRIPTIONS" | translate }}</h2>
                            </div>
                            <i class="bi bi-info-circle-fill icon-info" tooltip="{{ 'THESE_ARE_THE_ORIGINAL_PRODUCT_DESCRIPTION' | translate }}" placement="right"></i>
                        </div>
                        <div>
                            <label class="btn btn-outline-success" (click)="editProduto()"> <i class="bi bi-pencil"></i> {{ 'EDIT' | translate }} </label>
                        </div>
                    </div>
                    <div class="pim-card-content">
                        <div class="content-header">
                            <div class="">
                                <div class="row">
                                    <div class="col-6">
                                        <app-label-info title="{{ 'ORIGINAL_DESCRIPTION' | translate | titlecase}}" text="{{product.mainDescription}} {{product.secondaryDescription}}"> </app-label-info>
                                    </div>
                                    <div class="col-6">
                                        <app-label-info title="{{ 'LABEL_DESCRIPTION' | translate }}" text="{{product.descriptionLabel}}"> </app-label-info>
                                    </div>
                                    <div class="col-6">
                                        <app-label-info title="{{ 'PROMOTIONAL_DESCRIPTION_MAIN' | translate }}" tooltipText="{{ 'THIS_IS_THE_DESCRIPTION_THAT_WILL_BE_USED_AS_A_HIGHLIGHT_IN_CAMPAINGS' | translate }}" text="{{product.mainDescription}}"> </app-label-info>
                                    </div>
                                    <div class="col-6">
                                        <app-label-info title="{{ 'PROMOCIONAL_DESCRIPTION_SECONDARY' | translate }}" tooltipText="{{ 'THIS_IS_A_DESCRIPTION_THAT_CAN_BE_USED_AS_PART_OF_THE_MAIN_DESCRIPTION' | translate }}" text="{{product.secondaryDescription}}">
                                        </app-label-info>
                                    </div>
                                    <div class="col-6">
                                        <app-label-info title="{{ 'PRESENTATION' | translate }}" text="{{product.presentation}}"> </app-label-info>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div *ngIf="product" id="informacoesAdicionais">
            <app-detalhes-produtos-informacoes [productCode]="product.code"></app-detalhes-produtos-informacoes>
        </div>
        <div id="fotos">
            <section class="pim-container">
                <div class="container">
                    <cmp-lista-imagens [images]="product.images" [itemId]="product.id" [typeItem]="listImagesEnum.product" info="{{ 'THESE_ARE_THE_IMAGES_AVAILABLE_FOR_THE_PRODUCT' | translate }}"></cmp-lista-imagens>
                </div>
            </section>
        </div>
        <div id="banner">
            <section class="pim-container">
                <div class="container">
                    <app-banner *ngIf="activeTab.widgetId === 'banner'" [product]="product" info="{{ 'BANNER_INFO' | translate }}"></app-banner>
                </div>
            </section>
        </div>
        <div id="videos">
            <section class="pim-container">
                <div class="container">
                    <app-video-produtos *ngIf="activeTab.widgetId === 'videos'" [product]="product" info="{{ 'VIDEO_INFO' | translate }}"></app-video-produtos>
                </div>
            </section>
        </div>
    </app-super-card>
</ng-container>
<app-modal-processing *ngIf="processing"></app-modal-processing>
