@import "styles/colors";

::ng-deep .pim-wizard-content {
    min-height: 430px;
}

.modal-footer .btn-primary {
    width: 80px;
}

.modal-header {
    ::ng-deep {
        button {
            i {
                color: #ffffff;
            }
        }
    }
}

.modal-body {
    min-height: 430px;

    .pim-container {
        .container {
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 16px;

            .icon-info {
                color: #cfdbe2;
                margin-top: 2px;
            }

            input:disabled {
                background-color: #e1e1e1;
            }
        }
    }

    .btn-salvar {
        text-align: right;
        margin-bottom: 16px;
    }
}

:host ::ng-deep {
    .ng-select {
        .ng-select-container {
            border: 1px solid #8f8f8f;
        }

        &.ng-select.ng-select-opened > .ng-select-container {
            border: 2px solid map-get($colors, primary);

            .ng-arrow-wrapper .ng-arrow {
                color: map-get($colors, primary);
            }
        }

        &.ng-select-opened.ng-select-bottom > .ng-select-container {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
            border: 1px solid #8f8f8f;
            box-shadow: none;
        }

        .ng-arrow-wrapper .ng-arrow {
            border: none;
            position: absolute;
            color: #8f8f8f;
            font-size: 16px;
            top: -11px;
            right: 25px;
        }

        .ng-arrow-wrapper .ng-arrow::before {
            content: "\f282";
            font-family: bootstrap-icons !important;
        }
    }

    .ng-value {
        width: 100%;
        color: map-get($colors, dark) !important;
    }

    .ng-option,
    .ng-value {
        i.bi {
            position: relative;
            top: 2px;
            color: #8f8f8f;
        }
    }

    app-fieldrow {
        input {
            .cmp-fieldrow-control {
                border: 1 solid #8f8f8f;
            }
        }
    }
}

.btn-outline-success {
    border-color: map-get($colors, success);
    color: map-get($colors, success);
    cursor: auto;

    &:hover {
        background-color: #ffffff;
        color: map-get($colors, success);
    }
}

.image {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 194px;
        max-height: 170px;
    }

    .inactive {
        img {
            filter: grayscale(1);
        }
    }

    i {
        font-size: 64px;
        color: #c0c0c0;
    }

    border: 1px solid #c2c2c2;
    border-radius: 4px;
}

:host ::ng-deep {
    input.cmp-fieldrow-control {
        padding: 0;
        border: none;
    }
}
