<div class="modal-center">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 text-center">
                <i class="bi bi-exclamation-circle"></i>
                <h1>{{ 'ARE_YOU_SURE_YOU_WANT_TO_DELETE' | translate }}</h1>
                <p>{{ 'THIS_ACTION_CANNOT_BE_UNDONE' | translate }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 mb-2 text-right">
                <button type="button" class="btn btn-light" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
                <button type="button" class="btn btn-danger" (click)="confirm()"><i class="bi bi-trash"></i> {{'DELETE' | translate}}</button>
            </div>
        </div>
    </div>
</div>
