<section class="pim-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 container-flex">
                <h1 class="title">
                    {{ title }}
                    <span class="subtitle">
                        <a (click)="goBack()"> <i class="bi bi-arrow-left"></i> {{ "BACK" | translate}} </a>
                    </span>
                </h1>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</section>
