@import "../assets/styles/colors";

.pim-header {
    background-color: white;

    .container-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 63px;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
        color: map-get($colors, dark);
        margin: 0;

        .subtitle {
            display: block;
            font-weight: normal;
            font-size: 12px;
            margin-top: 10px;

            a {
                color: map-get($colors, primary);
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .pim-header {
        .container-flex {
            height: auto;
            flex-direction: column;
            padding: 10px 0;

            .title {
                text-align: center;

                .subtitle {
                    margin-top: 2px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
