<div class="modal-editar-produto">
    <div class="modal-header">
        <h4 class="modal-title">{{ "EDIT_DESCRIPTION" | translate }}</h4>
        <div>
            <button type="button" class="modal-close" (click)="onClickClose()">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>
    <div class="modal-center">
        <div class="modal-body">
            <form [formGroup]="payload">
                <section class="pim-container">
                    <div class="container">
                        <div class="pim-card-header d-flex justify-content-between">
                            <div class="d-flex justify-content-start">
                                <div class="mr-2">
                                    <h2 class="title">{{ "DESCRIPTIONS" | translate }}</h2>
                                </div>
                                <i class="bi bi-info-circle-fill icon-info" tooltip="{{ 'THESE_ARE_THE_ORIGINAL_PRODUCT_DESCRIPTION' | translate }}" placement="right"></i>
                            </div>
                        </div>
                        <div class="pim-card-content">
                            <div class="content-header">
                                <div class="">
                                    <div class="row">
                                        <div class="col-6">
                                            <app-fieldrow label="{{ 'ORIGINAL_DESCRIPTION' | translate | titlecase }}">
                                                <input class="cmp-fieldrow-control" type="text" disabled value="{{product.mainDescription}} {{product.secondaryDescription}}" />
                                            </app-fieldrow>
                                        </div>
                                        <div class="col-6">
                                            <app-fieldrow label="{{ 'DESCRIPTION_LABEL' | translate | titlecase }}">
                                                <input class="cmp-fieldrow-control" type="text" formControlName="descriptionLabel" />
                                            </app-fieldrow>
                                        </div>
                                        <div class="col-6">
                                            <app-fieldrow label="{{ 'PROMOTIONAL_DESCRIPTION_MAIN' | translate }}" info="{{ 'THIS_IS_THE_DESCRIPTION_THAT_WILL_BE_USED_AS_A_HIGHLIGHT_IN_CAMPAINGS' | translate }}">
                                                <input class="cmp-fieldrow-control" type="text" formControlName="mainDescription" />
                                            </app-fieldrow>
                                        </div>
                                        <div class="col-6">
                                            <app-fieldrow label="{{ 'PROMOCIONAL_DESCRIPTION_SECONDARY' | translate }}" info="{{ 'THIS_IS_A_DESCRIPTION_THAT_CAN_BE_USED_AS_PART_OF_THE_MAIN_DESCRIPTION' | translate }}">
                                                <input class="cmp-fieldrow-control" type="text" formControlName="secondaryDescription" />
                                            </app-fieldrow>
                                        </div>
                                        <div class="col-6">
                                            <app-fieldrow label="{{ 'PRESENTATION' | translate }}">
                                                <input class="cmp-fieldrow-control" type="text" formControlName="presentation" />
                                            </app-fieldrow>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
        <div class="float-right mr-4 mb-2">
            <div class="btn-salvar">
                <button class="btn btn-primary" (click)="save()">{{ "SAVE" | translate }}</button>
            </div>
        </div>
    </div>
</div>
