<div class="readonly" *ngIf="readonly"></div>
<div class="select-header">
    <ng-template #tooltipHelper>
        <span><b>{{"PRODUCT" | translate}}</b>: {{"PRODUCT_IS_A_SKU_CONSISTS_OF_A_UNIQUE_GTIN" | translate}}.</span>
        <span *ngIf="!onlyProducts"><br /><b>{{"FAMILY" | translate}}</b>: {{"IT_IS_A_SET_OF_PRODUCTS_THAT_IS_A_SKU_OR_GTIN_GROUP" | translate}}.</span>
    </ng-template>
    <label class="label-main">{{(onlyProducts ? "SEARCH_PRODUCT" : "SEARCH_PRODUCT_OR_PRODUCT_FAMILY") | translate}} <i [tooltip]="tooltipHelper" placement="right" class="bi bi-info-circle-fill"></i></label>
    <label *ngIf="!onlyProducts" class="label-option" (click)="onSearchTypeChange($event)">
        <input type="radio" [(ngModel)]="searchTypesSelected" [value]="searchTypes.product" />
        {{"PRODUCT" | translate}}
    </label>
    <span *ngIf="!onlyProducts" class="divider">{{"OR" | translate}}</span>
    <label *ngIf="!onlyProducts" class="label-option" (click)="onSearchTypeChange($event)">
        <input type="radio" [(ngModel)]="searchTypesSelected" [value]="searchTypes.family" />
        {{"FAMILY" | translate}}
    </label>
</div>
<div class="select-content">
    <app-popover #popoverComponent position="bottom-right" [(opened)]="opened" (openedChange)="popoverOpenedChange($event)">
        <app-fieldrow clickable (click)="clickableOnlyPermitOpen($event)">
            <form [formGroup]="payload">
                <input #inputProductFamily type="text" class="cmp-fieldrow-control" [class.force-invalid]="forceInvalid" placeholder="{{'TYPE_AT_LEAST_THREE_LETTERS' | translate}}" formControlName="texto" />
            </form>
        </app-fieldrow>
        <div class="content-results" content [ngStyle]="{'display': !itemsLoading && !hasMinimumText && items.length === 0 ? 'none' : 'block'}" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" [scrollWindow]="false" (scrolled)="onScroll()">
            <div class="items">
                <div *ngIf="showAddFamily" (click)="actionAddFamily.emit()" class="row item-content item-add-family">
                    <div class="col-3">
                        <div class="image">
                            <i class="bi bi-plus"></i>
                        </div>
                    </div>
                    <div class="col-9">
                        <p class="item-label">{{"ADD" | translate}} {{"FAMILY" | translate | lowercase}}</p>
                        <p class="item-label item-label-small">{{"CREATE_A_NEW_FAMILY" | translate}}</p>
                    </div>
                </div>
                <div *ngFor="let item of items" class="row item-content" (click)="selectItem(item)">
                    <div class="col-3">
                        <div class="image">
                            <i *ngIf="!item.thumbnailURL" class="bi bi-card-image"></i>
                            <img *ngIf="item.thumbnailURL" [src]="item.thumbnailURL | normalizeImage" style="max-width: 36px; max-height: 36px" />
                        </div>
                    </div>
                    <div class="col-9">
                        <p class="item-label item-label-small">{{item.labelHeader}}</p>
                        <p class="item-label">{{item.labelCenter}}</p>
                        <p class="item-label item-label-small">{{item.labelFooter}}</p>
                    </div>
                </div>
            </div>
            <span class="no-items-found" *ngIf="noItemsFound">{{ 'NO_ITEMS_FOUND' | translate }}</span>
            <span *ngIf="itemsLoading && payload.valid">
                <app-spinner [size]="'md'"></app-spinner>
            </span>
        </div>
    </app-popover>
</div>
<div class="select-helper">
    <ng-container *ngIf="searchTypes.product === searchTypesSelected"> {{"SEARCH_BY_DESCRIPTION_GTIN_OR_INTERNAL_PRODUCT_CODE" | translate}} </ng-container>
    <ng-container *ngIf="searchTypes.family === searchTypesSelected"> {{"SEARCH_BY_DESCRIPTION" | translate}} </ng-container>
</div>
