<ng-container *ngIf="family$ | async as family">
    <app-super-card [options]="superCardFamilyOptions">
        <div id="principal">
            <section class="pim-container">
                <div class="container">
                    <div class="pim-card-header d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <div class="mr-2">
                                <h2 class="title">{{'INFORMATION' | translate}}</h2>
                            </div>
                        </div>
                        <div>
                            <label class="btn btn-outline-success" (click)="editInformation(family.id)"> {{ 'EDIT' | translate }} {{"DESCRIPTIONS" | translate}} </label>
                        </div>
                    </div>
                    <div class="pim-card-content">
                        <div class="content-header">
                            <div class="item-details">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="color-label">{{"CODE" | translate}}</label>
                                        <p>{{family.code}}</p>
                                    </div>
                                    <div class="col-4">
                                        <label class="color-label">{{"MAIN_DESCRIPTION" | translate}}</label>
                                        <p>{{family.mainDescription}}</p>
                                    </div>
                                    <div class="col-4">
                                        <label class="color-label">{{"SECONDARY_DESCRIPTION" | translate}}</label>
                                        <p>{{family.secondaryDescription}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- SESSAO DOS PRODUTOS DA FAMILIA  -->
            <section class="pim-container">
                <div class="container">
                    <div class="pim-card-header d-flex justify-content-between">
                        <div class="d-flex justify-content-start">
                            <div class="mr-2">
                                <h2 class="title">{{"PRODUCTS" | translate}} <span class="color-product">({{family.products.length}})</span></h2>
                            </div>
                        </div>
                        <div>
                            <label class="btn btn-outline-success" (click)="addProducts(family.id)"> {{ 'ADD' | translate }} {{"PRODUCTS" | translate}} </label>
                        </div>
                    </div>
                    <div class="pim-card-content">
                        <table class="table table-striped table-products">
                            <thead>
                                <tr>
                                    <th>{{"IMAGE" | translate}}</th>
                                    <th>
                                        <span class="sortable" [pimSort]="family.products" [(order)]="destinationCode" data-name="code">
                                            {{'CODE' | translate}}
                                            <i class="bi {{destinationCode === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="sortable" [pimSort]="family.products" [(order)]="destinationDescription" data-name="mainDescription">
                                            {{"DESCRIPTION" | translate}}
                                            <i class="bi {{destinationDescription === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of family.products">
                                    <td class="image">
                                        <i *ngIf="!getThumbnailURL(product.images)" class="bi bi-card-image"></i>
                                        <img *ngIf="getThumbnailURL(product.images)" [src]="getThumbnailURL(product.images) | normalizeImage" />
                                    </td>
                                    <td>{{product.code}}</td>
                                    <td colspan="2">{{product.mainDescription}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div id="fotos">
            <section class="pim-container">
                <div class="container">
                    <cmp-lista-imagens [images]="family.images" [itemId]="family.id" [typeItem]="listImagesEnum.family" info="{{ 'THESE_ARE_THE_IMAGES_AVAILABLE_FOR_THE_FAMILY' | translate }}"></cmp-lista-imagens>
                </div>
            </section>
        </div>
        <div id="banner">
            <section class="pim-container">
                <div class="container">
                    <app-banner-familia *ngIf="activeTab.widgetId === 'banner'" [family]="family" info="{{ 'BANNER_INFO' | translate }}"></app-banner-familia>
                </div>
            </section>
        </div>
        <div id="videos">
            <section class="pim-container">
                <div class="container">
                    <app-video-familias *ngIf="activeTab.widgetId === 'videos'" [family]="family" info="{{ 'VIDEO_INFO' | translate }}"></app-video-familias>
                </div>
            </section>
        </div>
    </app-super-card>
</ng-container>
<app-modal-processing *ngIf="processing"></app-modal-processing>

<!-- Assim era feito antes do supercard -->
<!-- <ng-container *ngIf="family$ | async as family">
    <div class="modal-header">
        <h4 class="modal-title">{{ family.mainDescription }} {{ family.secondaryDescription }}</h4>
        <div>
            <app-dropdown class="mr-3">
                <ul class="list-icons">
                    <li>
                        <a href="javascript://" (click)="removeFamily(family)"><i class="bi bi-trash"></i> {{"DELETE" | translate}}</a>
                    </li>
                </ul>
            </app-dropdown>
            <button type="button" class="modal-close" (click)="bsModalRef.hide()">
                <i class="bi bi-x"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <section class="pim-container">
            <div class="container">
                <cmp-lista-imagens [images]="family.images" [itemId]="family.id" [typeItem]="listImagesEnum.family" info="{{ 'BY_CLICKING_ON_ONE_OF_THE_IMAGES' | translate }}"></cmp-lista-imagens>
            </div>
        </section>
        <section class="pim-container">
            <div class="container">
                <div class="pim-card-header d-flex justify-content-between">
                    <h2 class="title">{{'INFORMATION' | translate}}</h2>
                    <div>
                        <button (click)="editFamily(family.id)" class="btn btn-primary btn-edit">{{"EDIT_FAMILY" | translate}}</button>
                    </div>
                </div>
                <div class="pim-card-content">
                    <div class="content-header">
                        <div class="item-details">
                            <div class="row">
                                <div class="col-2">
                                    <label>{{"CODE" | translate}}</label>
                                    <p>{{family.code}}</p>
                                </div>
                                <div class="col-4">
                                    <label>{{"MAIN_DESCRIPTION" | translate}}</label>
                                    <p>{{family.mainDescription}}</p>
                                </div>
                                <div class="col-4">
                                    <label>{{"SECONDARY_DESCRIPTION" | translate}}</label>
                                    <p>{{family.secondaryDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pim-card-header">
                    <h2 class="title">{{"PRODUCTS" | translate}}</h2>
                </div>
                <div class="pim-card-content">
                    <table class="table table-striped table-products">
                        <thead>
                            <tr>
                                <th>{{"IMAGE" | translate}}</th>
                                <th>
                                    <span class="sortable" [pimSort]="family.products" [(order)]="destinationCode" data-name="code">
                                        {{'CODE' | translate}}
                                        <i class="bi {{destinationCode === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
                                    </span>
                                </th>
                                <th>
                                    <span class="sortable" [pimSort]="family.products" [(order)]="destinationDescription" data-name="mainDescription">
                                        {{"DESCRIPTION" | translate}}
                                        <i class="bi {{destinationDescription === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
                                    </span>
                                </th>
                                <th class="text-right container-total-products"><span class="total-products">{{"TOTAL" | translate}}:</span> {{family.products.length}} {{"PRODUCTS" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of family.products">
                                <td class="image">
                                    <i *ngIf="!getThumbnailURL(product.images)" class="bi bi-card-image"></i>
                                    <img *ngIf="getThumbnailURL(product.images)" [src]="getThumbnailURL(product.images) | normalizeImage" />
                                </td>
                                <td>{{product.code}}</td>
                                <td colspan="2">{{product.mainDescription}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</ng-container>
<app-modal-processing *ngIf="processing"></app-modal-processing> -->
