@import "../../../../../pricefyfrontlib/app/shared/styles/pricefy/variables";

.wrapper {
    background: #403356;
    color: white;
}

.text-muted {
    color: white !important;
}

.input-group {
    img {
        width: 300px;
    }
}

a:link,
a:visited,
a:hover,
a:active {
    color: white !important;
}

::ng-deep {
    .modal-error-503 {
        .wrapper {
            height: 100vh !important;
        }

        .modal-content {
            border-radius: 0;
            border: none;
        }
        max-width: 100%;
        margin: 0 !important;
        width: 100vw !important;
    }
}
