<ng-container *ngIf="product$ | async as product">
    <section class="pim-container">
        <div class="container px-0">
            <div class="pim-card-header d-flex justify-content-between">
                <div class="d-flex justify-content-start">
                    <div class="mr-2">
                        <h2 class="title">{{agrupador.rotulo}}</h2>
                    </div>
                </div>
                <div>
                    <label class="btn btn-outline-success" (click)="edit(agrupador)"> <i class="bi bi-pencil"></i> {{ 'EDIT' | translate }} </label>
                </div>
            </div>

            <div class="pim-card-content">
                <div class="content-header">
                    <div class="">
                        <div class="row">
                            <ng-container *ngFor="let item of agrupador.itens">
                                <div class="col-6">
                                    <app-label-info title="{{item.rotulo}}" text="{{getValue(product, agrupador, item)}} "></app-label-info>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-container>
