<div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="modal-close" (click)="bsModalRef.hide()">
        <i class="bi bi-x"></i>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="payload">
        <div class="pim-card">
            <div class="pim-card-header">
                <h2 class="title">{{"DESCRIPTION" | translate}}</h2>
            </div>
            <div class="pim-card-content">
                <div class="row">
                    <div class="col-4">
                        <app-fieldrow label="{{'MAIN_DESCRIPTION' | translate}}" [abstractControl]="mainDescription">
                            <input type="text" class="cmp-fieldrow-control" formControlName="mainDescription" />
                        </app-fieldrow>
                    </div>
                    <div class="col-4">
                        <app-fieldrow label="{{'SECONDARY_DESCRIPTION' | translate}}" [abstractControl]="secondaryDescription">
                            <input type="text" class="cmp-fieldrow-control" formControlName="secondaryDescription" />
                        </app-fieldrow>
                    </div>
                </div>
            </div>
        </div>
        <div class="pim-card mt-3">
            <div class="pim-card-header">
                <h2 class="title">{{"PRODUCTS" | translate}}</h2>
            </div>
            <div class="pim-card-content">
                <div class="row">
                    <div class="col-12">
                        <cmp-select-produtos-familias #selectProdutosFamiliasComponent (selectedItemChange)="addProduct($event)" [cleanSelectedItemAfterSelect]="true" [onlyProducts]="true"></cmp-select-produtos-familias>
                    </div>
                    <div class="col-12 mt-3">
                        <table *ngIf="products.length >= 1; else noProducts" class="table table-striped table-products">
                            <thead>
                                <tr>
                                    <th>{{"IMAGE" | translate}}</th>
                                    <th>
                                        <span class="sortable" [pimSort]="products" [(order)]="destinationCode" data-name="codigo">
                                            {{'CODE' | translate}}
                                            <i class="bi {{destinationCode === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
                                        </span>
                                    </th>
                                    <th>
                                        <span class="sortable" [pimSort]="products" [(order)]="destinationDescription" data-name="descricaoPrincipal">
                                            {{"DESCRIPTION" | translate}}
                                            <i class="bi {{destinationDescription === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill'}}"></i>
                                        </span>
                                    </th>
                                    <th class="text-right container-total-products"><span class="total-products">{{"TOTAL" | translate}}:</span> {{products.length}} {{"PRODUCTS" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td class="image">
                                        <i *ngIf="!getThumbnailURL(product.imagens)" class="bi bi-card-image"></i>
                                        <img *ngIf="getThumbnailURL(product.imagens)" [src]="getThumbnailURL(product.imagens) | normalizeImage" />
                                    </td>
                                    <td>{{product.codigo}}</td>
                                    <td>{{product.descricaoPrincipal}}</td>
                                    <td class="options">
                                        <app-dropdown>
                                            <ul class="list-icons">
                                                <li>
                                                    <a (click)="removeProduct(product)" href="javascript://"><i class="bi bi-trash"></i> {{"REMOVE" | translate}}</a>
                                                </li>
                                            </ul>
                                        </app-dropdown>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ng-template #noProducts>
                            <div class="text-center no-products">
                                <span>{{ "NO_PRODUCTS" | translate }}</span>
                                <p>{{ "TO_SELECT_ADD_PRODUCTS_YOU_MUST_SEARCH_AND_CHOOSE_ONE_OR_MORE_PRODUCTS" | translate }}</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="bsModalRef.hide()" class="btn btn-light">{{'CANCEL' | translate}}</button>
    <button type="button" (click)="submit()" class="btn btn-primary">{{'FINISH' | translate}}</button>
</div>
<app-modal-processing *ngIf="processing"></app-modal-processing>
