@each $i in $colors {
    .btn.btn-#{nth($i, 1)} {
        margin: 0;
        font-size: 12px;
        box-shadow: none !important;
        border-radius: 4px !important;
        border-color: nth($i, 2) !important;
        background-color: nth($i, 2) !important;
        color: white !important;
        transition: background-color 0.3s !important;

        &:hover {
            border-color: nth($i, 2) !important;
            background-color: darken(nth($i, 2), 10) !important;
        }

        &:active,
        &:focus {
            box-shadow: none !important;
            background-color: nth($i, 2) !important;

            &:hover {
                border-color: nth($i, 2) !important;
                background-color: darken(nth($i, 2), 5) !important;
            }
        }

        &[disabled] {
            opacity: 0.7 !important;
            cursor: not-allowed !important;
        }
    }
}

@each $i in $colors {
    .btn.btn-outline-#{nth($i, 1)} {
        margin: 0;
        font-size: 12px;
        box-shadow: none !important;
        border-radius: 4px !important;
        border-color: nth($i, 2) !important;
        background-color: white !important;
        color: nth($i, 2) !important;
        transition: background-color 0.3s !important;

        &:hover {
            border-color: nth($i, 2) !important;
            background-color: darken(white, 5) !important;
        }

        &[disabled] {
            opacity: 0.7 !important;
            cursor: not-allowed !important;
        }
    }
}

.btn.btn-light {
    color: map-get($colors, secondary) !important;

    &:hover {
        color: map-get($colors, secondary) !important;
    }
}
